<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Regisztráció')"></div>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="card" style="width: 40rem; margin: auto; margin-top: 70px; text-align: center">
    <div class="card-body" >
        <h2 class="card-title">Fedőnevek</h2>
        <h5>Játssz egy robotkémfőnök ügynökeként!</h5>
            <p style="text-align: justify">Minden körben kapsz egy új táblát, amin 20 szó van.
            Ezek közül 10 a szövetséges ügynökök fedőneve. A cél, hogy velük lépj kapcsolatba, ebben próbál a robotkémfőnök segíteni. A robotkémfőnök üzen egy szót, amihez kapcsolódik néhány szövetséges ügynök fedőneve. Őket kell megtalálnod.
            A főnök egy számot is üzen. Legalább ennyi, legfeljebb 2-vel több szót jelölhetsz meg a táblán.
            Ha kész vagy, kiderül, a megjelölt ügynökök közül kik voltak a szövetségeseid.</p>
        <a href="/settings" class="btn btn-primary btn-lg" >Start</a>
    </div>
</div>
<div class="card" style="width: 40rem; margin: auto; margin-top: 25px; text-align: center; background-color: #185dcc; color: white">
    <div class="card-body" >
    <h6 style="text-align: left"> További információk:</h6>
        <p style="text-align: justify">- A játékosok döntéseit anonim módon tároljuk, és a robotok értékeléséhez és fejlesztéséhez használjuk.
            <br>- Vagyis minden játékkal a kutatásunkat segíted, amiért hálásak vagyunk :)
            <br>- Később elérhető lesz teljes játék is, ahol kémfőnöke vagy ügynöke is lehetsz a robotnak, és addig tart, amíg az eredeti Fedőnevek.
            <br>- Sőt, egyszer talán több játékos is játszhat majd egy csapatban vagy egymás ellen.
        </p>
    </div>


</div>
<div style="margin: auto; width: 40rem; color: white; padding-top: 20px; text-align: center" >
    <div style="margin: auto">
        <p>
            <b>Developers:</b>
            <br>
            Kémfőnök AI: Cserháti Réka (cserhatir@gmail.com)
            <br>
            Alkalmazás: Kolláth István (kollathistvan@gmail.com)
        </p>
    </div>

</div>
</body>
</html>