<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header (title='Főoldal')"></div>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="card" style="width: 40rem; margin: auto; margin-top: 70px; text-align: center">
    <div class="card-body" >
        <h2 class="card-title">Fedőnevek</h2>
        <h5>Játssz egy robotkémfőnök ügynökeként!</h5>
            <p style="text-align: justify">A játék során 25 kártyát kapsz. Ebből 9 zöld, 13 szürke, 3 fekete található. Célunk minél több zöld szó megtalálása. Egy kör akkor ér véget, amikor fel van fedve az összes zöld kártya, vagy amikor felfedésre kerül egy fekete.</p>
        <a href="/settings" class="btn btn-primary btn-lg" >Start</a>
    </div>
</div>
<div class="card" style="width: 40rem; margin: auto; margin-top: 25px; text-align: center; background-color: #185dcc; color: white">
    <div class="card-body" >
    <h6 style="text-align: left"> További információk:</h6>
        <p style="text-align: justify">- A játékosok döntéseit anonim módon tároljuk, és a robotok értékeléséhez és fejlesztéséhez használjuk.
            <br>- Vagyis minden játékkal a kutatásunkat segíted, amiért hálásak vagyunk :)
            <br>- Később elérhető lesz a játék további változata is, ahol kémfőnöke is lehetsz a robotnak.
            <br>- Sőt, egyszer talán több játékos is játszhat majd egy csapatban vagy egymás ellen.
        </p>
    </div>


</div>
<div style="margin: auto; width: 40rem; color: white; padding-top: 20px; text-align: center" >
    <div style="margin: auto">
        <p>
            <b>Developers:</b>
            <br>
            Kémfőnök AI: Cserháti Réka (cserhatir@gmail.com)
            <br>
            Alkalmazás: Kolláth István (kollathistvan@gmail.com)
        </p>
    </div>

</div>
</body>
</html>